/* COLORS VARIABLES */
/* BREAKPOINTS VARIABLES */
/* Fonts */
@font-face {
  font-family: Trueno;
  font-weight: bold;
  src: url("../css/fonts/TruenoBd.otf") format("opentype"); }

@font-face {
  font-family: TruenoBlk;
  font-weight: bold;
  src: url("../css/fonts/TruenoBlk.otf") format("opentype"); }

@font-face {
  font-family: TruenoLt;
  font-weight: lighter;
  src: url("../css/fonts/TruenoLt.otf") format("opentype"); }

/* BASE HTML SETTINGS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "TruenoLt", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.container {
  max-width: 111rem;
  margin: 0rem auto; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.navigation__topmenu {
  font-family: "TruenoLt", sans-serif;
  font-size: 1.3rem;
  height: 5rem;
  background: #482424;
  color: #ffffff; }
  .navigation__topmenu--flex {
    display: flex;
    justify-content: space-between; }
  .navigation__topmenu--left {
    display: flex;
    list-style: none;
    width: 31.5rem;
    justify-content: space-between;
    align-self: center; }
  .navigation__topmenu--right {
    display: flex;
    list-style: none;
    width: 31.7rem;
    justify-content: space-between; }
    .navigation__topmenu--right span {
      color: #dcc5b7; }
    .navigation__topmenu--right li:nth-child(1) {
      position: relative;
      left: 2rem;
      top: 0.3rem; }
    .navigation__topmenu--right > li {
      padding: 1.3rem 1rem;
      align-self: center; }
    .navigation__topmenu--right > .active {
      background: #ff7270; }

.navigation__main {
  height: 7.6rem;
  background: #633231; }
  .navigation__main--flex {
    display: flex;
    justify-content: space-between; }
  .navigation__main--logo {
    align-self: center; }
  .navigation__main--menu {
    display: flex;
    list-style: none;
    color: #fff;
    font-size: 1.6rem;
    width: 60rem;
    justify-content: space-between; }
    .navigation__main--menu li {
      padding-top: 0.2rem;
      line-height: 7rem; }
    .navigation__main--menu .active {
      color: #ff7270;
      border-bottom: 0.4rem solid #ff7270;
      line-height: 7rem; }

.header {
  height: 60rem;
  display: flex;
  background: #f0efee; }
  .header__image {
    position: relative;
    height: 72rem;
    bottom: 7.5rem; }
  .header__proposal {
    align-self: center;
    margin-left: 3.8rem;
    color: #633231;
    align-items: center; }
    .header__proposal--price {
      font-size: 3rem; }
    .header__proposal--title {
      font-size: 7rem;
      font-family: TruenoBlk, sans-serif;
      font-weight: bold;
      line-height: 8.7rem; }
    .header__proposal--variants {
      font-size: 5rem;
      font-family: TruenoBlk, sans-serif;
      color: #ff7270;
      font-weight: bold; }
    .header__proposal--description {
      font-size: 1.6rem;
      color: #8a8784;
      width: 40.4rem; }
    .header__proposal--button {
      border: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #fff;
      background: #ff7270;
      padding: 1.8rem 4.6rem;
      margin-top: 3rem;
      transition: background ease 0.3s; }
      .header__proposal--button:hover {
        background: #ff4a47;
        cursor: pointer; }

.section__categories {
  margin-top: 5rem;
  height: 54rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem; }
  .section__categories--collection {
    background-image: url("../img/categories_collection_nike.png");
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; }
  .section__categories--logo {
    position: absolute;
    padding-top: 3rem;
    padding-left: 3rem; }
  .section__categories--title {
    text-align: center;
    max-width: 28rem;
    padding-top: 4.5rem;
    color: white;
    text-transform: capitalize;
    font-size: 3rem;
    margin: 0 auto; }
    .section__categories--title span {
      text-transform: uppercase;
      font-family: "Trueno", sans-serif;
      letter-spacing: 1px;
      color: #42d9ce; }
  .section__categories--newarrivals {
    grid-column-start: 3;
    grid-column-end: 5;
    background: #ff7270;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative; }
    .section__categories--newarrivals-title {
      color: #ffffff;
      font-size: 3rem;
      left: 43%;
      top: 20%;
      position: relative;
      width: 25rem;
      text-align: center; }
      .section__categories--newarrivals-title span {
        font-family: "Trueno", sans-serif;
        text-transform: uppercase; }
    .section__categories--newarrivals-button {
      border: none;
      color: #ffffff;
      background: #633231;
      width: 14.4rem;
      height: 4.8rem;
      text-transform: uppercase;
      font-size: 1.6rem;
      margin-top: 1.5rem;
      font-family: "Trueno", sans-serif; }
    .section__categories--newarrivals-image {
      position: absolute;
      bottom: -4px; }
  .section__categories--athletes {
    background: url("../img/categories_athletes.png") no-repeat; }
    .section__categories--athletes-title {
      text-align: center;
      color: #ffffff;
      font-size: 3rem;
      position: relative;
      bottom: -13rem; }
      .section__categories--athletes-title span {
        color: #ff7270;
        font-family: "Trueno", sans-serif;
        text-transform: uppercase; }
  .section__categories--premium {
    background: #cecece url("../img/categories_premium.png") bottom no-repeat; }
    .section__categories--premium-title {
      margin-top: 2rem;
      text-align: center;
      font-size: 3rem;
      color: #6a7072; }
      .section__categories--premium-title span {
        text-transform: uppercase;
        color: #fff;
        font-family: "Trueno", sans-serif; }

.section__button--collection {
  color: red;
  position: absolute;
  bottom: 5rem;
  width: 21.1rem;
  height: 5rem;
  color: black;
  font-family: "Trueno", sans-serif;
  border: 0;
  background: #42d9ce;
  font-size: 1.6rem;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%); }

.catalog__title {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 3rem; }
  .catalog__title--item {
    margin: 0 2rem;
    color: #bdb9b5; }
    .catalog__title--item:nth-child(1) {
      color: #623232;
      font-family: "Trueno", sans-serif; }

.catalog__grid {
  display: grid;
  grid-template-columns: repeat(4, 25.5rem);
  grid-template-rows: repeat(2, 35rem);
  margin-top: 5rem;
  grid-gap: 3rem; }

.catalog__card {
  border: 1px solid #e0dfde;
  padding: 3rem;
  position: relative;
  color: #bdb9b5; }
  .catalog__card--model {
    font-size: 1.6rem; }
  .catalog__card--gender {
    font-size: 1.6rem;
    font-family: "Trueno", sans-serif; }
  .catalog__card--id {
    font-size: 1.3rem; }
  .catalog__card img {
    padding: 2rem 0; }
  .catalog__card--price {
    font-size: 2.4rem;
    color: #928f8c;
    margin-bottom: 3.2rem; }
    .catalog__card--price-sale {
      color: #ff7270;
      font-size: 3rem; }
    .catalog__card--price-old {
      color: #928f8c;
      font-size: 1.6rem;
      text-decoration: line-through; }
    .catalog__card--price--percentage {
      position: absolute;
      right: 0;
      top: 2rem;
      font-size: 1.6rem;
      color: #fff;
      background: #ff7270;
      padding: 1rem; }

.catalog__brands {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem; }
  .catalog__brands--item:nth-child(even) {
    position: relative;
    top: 1rem; }

.background__container {
  background: #482424; }

.section__review {
  margin-top: 10rem;
  height: 57rem;
  background: linear-gradient(to bottom, rgba(72, 36, 35, 0.7) 50%, rgba(72, 36, 35, 0.9) 100%), url("../img/review_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .section__review--users {
    display: flex;
    justify-content: center;
    padding-top: 10rem; }
    .section__review--users img {
      padding-bottom: 2.8rem; }
  .section__review--text {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin: 5rem 0;
    padding: 5rem;
    text-align: center;
    font-size: 1.6rem;
    position: relative; }
  .section__review--text:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-top: 0;
    margin-left: -25px;
    margin-top: -25px; }

.review__user {
  margin: 0 4rem;
  text-align: center; }
  .review__user:nth-child(odd) {
    opacity: 0.5; }
  .review__user--stars {
    color: #ff7270;
    font-size: 2rem; }
  .review__user--name {
    font-size: 1.6rem;
    color: #fff; }

.section__news {
  margin-top: 10rem; }
  .section__news--title {
    font-size: 3rem;
    font-family: "Trueno", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #482424; }
  .section__news--cards {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    color: #fff; }
  .section__news--card {
    width: 35rem;
    height: 35rem;
    border: 1px solid #e0dfde;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .section__news--card-date {
      font-size: 1.6rem;
      text-transform: uppercase; }
    .section__news--card-text {
      font-size: 1.6rem; }
    .section__news--card-comments {
      display: flex;
      color: #ff7270;
      font-size: 1.3rem; }
      .section__news--card-comments i {
        margin-right: 6px;
        font-size: 1.6rem;
        position: relative;
        top: 2px; }
    .section__news--card:nth-child(1) {
      background: url("../img/new_1.png"); }
    .section__news--card:nth-child(2) {
      background: url("../img/new_2.png"); }
    .section__news--card:nth-child(3) {
      background: url("../img/new_3.png"); }

.section__feedback {
  background: #ff7270;
  margin-top: 10rem; }
  .section__feedback--container {
    display: flex;
    height: 20rem; }
    .section__feedback--container i {
      align-self: center;
      font-size: 5.5rem;
      color: #fff;
      padding-right: 3rem;
      position: relative;
      top: 7px; }
  .section__feedback--text {
    align-self: center;
    color: #fff; }
    .section__feedback--text-title {
      font-size: 3rem;
      font-family: "Trueno", sans-serif;
      text-transform: uppercase; }
    .section__feedback--text-desc {
      font-size: 1.6rem;
      line-height: 1.5rem; }
  .section__feedback--button {
    align-self: center;
    height: 4.8rem;
    margin-left: auto;
    font-size: 1.6rem;
    font-family: "Trueno", sans-serif;
    text-transform: uppercase;
    background: #482424;
    border: none;
    color: #fff;
    padding: 0 3rem; }

.section__features {
  background: #482424; }
  .section__features--container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    height: 20rem;
    border-bottom: 1px solid #7a5150; }
  .section__features--item {
    align-self: center; }
    .section__features--item i {
      font-size: 4rem;
      margin-bottom: 3rem;
      color: #ff7270; }

.section__menu {
  background: #482424; }
  .section__menu--container {
    border-bottom: 1px solid #7a5150;
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
    color: #fff; }

.menu__contacts {
  flex-grow: 3;
  margin-top: 2rem;
  line-height: 3rem; }
  .menu__contacts--title {
    font-size: 1.6rem;
    font-family: "Trueno", sans-serif;
    text-transform: uppercase;
    color: #ff7270; }
  .menu__contacts--text {
    font-size: 1.6rem; }
  .menu__contacts--item {
    margin-bottom: 3rem; }
    .menu__contacts--item i {
      padding-top: 1rem;
      background: #ff7270;
      float: left;
      width: 5.5rem;
      height: 5.5rem;
      text-align: center;
      vertical-align: middle;
      position: relative;
      margin-right: 1rem;
      font-size: 3rem;
      top: 50%; }
    .menu__contacts--item::after {
      content: "";
      clear: both;
      display: table; }
    .menu__contacts--item i:before {
      vertical-align: middle; }

.menu__items {
  flex-grow: 2;
  font-size: 1.6rem;
  line-height: 4rem; }
  .menu__items--title {
    font-family: "Trueno", sans-serif;
    text-transform: uppercase;
    color: #ff7270; }

footer {
  background: #482424; }

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11.6rem;
  color: #fff; }
  .footer__container--rights {
    font-size: 1.6rem; }
  .footer__container--social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 18rem; }
    .footer__container--social > * {
      font-size: 2rem; }
