.catalog {
  &__title {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 3rem;

    &--item {
      margin: 0 2rem;
      color: #bdb9b5;

      &:nth-child(1) {
        color: #623232;
        font-family: "Trueno", sans-serif;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 25.5rem);
    grid-template-rows: repeat(2, 35rem);
    margin-top: 5rem;
    grid-gap: 3rem;
  }

  &__card {
    border: 1px solid #e0dfde;
    padding: 3rem;
    position: relative;
    color: #bdb9b5;

    &--model {
      font-size: 1.6rem;
    }

    &--gender {
      font-size: 1.6rem;
      font-family: "Trueno", sans-serif;
    }

    &--id {
      font-size: 1.3rem;
    }


    & img {
      padding: 2rem 0;
    }


    &--price {
      font-size: 2.4rem;
      color: #928f8c;
      margin-bottom: 3.2rem;

      &-sale {
        color: $color-pink;
        font-size: 3rem;
      }

      &-old {
        color: #928f8c;
        font-size: 1.6rem;
        text-decoration: line-through;
      }

      &--percentage {
        position: absolute;
        right: 0;
        top: 2rem;
        font-size: 1.6rem;
        color: #fff;
        background: $color-pink;
        padding: 1rem;
      }
    }
  }

  &__brands {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    &--item {
      &:nth-child(even) {
        position: relative;
        top: 1rem;
      }
    }
  }
}