.header {
  height: 60rem;
  display: flex;
  background: $color-grey;
  //justify-content: space-between;



  &__image {
    position: relative;
    height: 72rem;
    bottom: 7.5rem;
  }

  &__proposal {
    align-self: center;
    margin-left: 3.8rem;
    color: $color-secondary;
    align-items: center;


    &--price {
      font-size: 3rem;
    }

    &--title {
      font-size: 7rem;
      font-family: TruenoBlk, sans-serif;
      font-weight: bold;
      line-height: 8.7rem;
    }

    &--variants {
      font-size: 5rem;
      font-family: TruenoBlk, sans-serif;
      color: $color-pink;
      font-weight: bold;
    }

    &--description {
      font-size: 1.6rem;
      color: $color-grey-2;
      width: 40.4rem;
    }

    &--button {
      border: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #fff;
      background: $color-pink;
      padding: 1.8rem 4.6rem;
      margin-top: 3rem;
      transition: background ease 0.3s;

      &:hover {
        background: darken($color-pink, 8%);
        cursor: pointer;
      }
    }
  }
}